# .NET build artifacts
bin/
obj/

# Angular build artifacts
dist/
node_modules/
.angular/

# IDE files
.vs/
.vscode/
*.user

# SSL certificates
*.pem
*.key

# GitHub Copilot indices
CloudMediaPlayer/CopilotIndices/
/.vs/CloudMediaPlayer/v17/.suo
/.vs/CloudMediaPlayer/v17/DocumentLayout.json
/git.ignore
/.vs/CloudMediaPlayer/FileContentIndex/88bd0c48-d91b-4fee-8e5e-da4ccc50e3e5.vsidx
